body {
  min-width: 439px;
  line-height: 1.4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #0288D1;
}
ul {
  display: flex;
  padding-right: 1rem;
}
ul li {
  padding: 1rem 0.5rem;
}

li {
  transition: 500ms;
  transition-timing-function: ease;
}

li:hover {
  border-radius: 4px;
  background-color: #03A9F4;
  cursor: pointer;
  transition: 500ms;
  transition-timing-function: ease;
}

li a {
  color: #FFFFFF;
}

#logo {
  height: 2rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

#bold {
  font-weight: bold;
}
#white {
  color: #FFFFFF;
}

.hide-in-fullscreen {
  display: none;
}


/* main-container section */

.container {
  display: flex;
}

.main {
  flex-direction: column;
  /* min-width: 46.25rem; */
}

/* first wrapper container */

#first,
#third {
  background-color: #CFD8DC;
}

#main-banner {
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.banner img {
  width: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}

a {
  display: block;
  text-decoration: none;
  color: #03A9F4;
}

a:active {
  color: #757575;
}

.button a {
  padding: 0.7rem 0.6rem;
  width: 80%;
  color: white;
  border-radius: 4px;
  background-color: DimGrey;
  text-align: center;
  background-color: #0288D1;
  transition: 500ms;
  transition-timing-function: ease;
}

.button a:hover {

  width: 75%;
  background-color: #03A9F4;
  cursor: pointer;
  transition: 500ms;
  transition-timing-function: ease;
}

@media only screen and (max-width: 730px) {
  .button a {
    width: 230px;
  }
}

@media only screen and (max-width: 672px) {
  .button a {
    width: 210px;
  }
}

@media only screen and (max-width: 622px) {
  .button a {
    width: 195px;
  }
}

@media only screen and (max-width: 586px) {
  .button a {
    width: 180px;
  }
}

@media only screen and (max-width: 547px) {
  .button a {
    width: 160px;
  }
}

h1 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}


/* second wrapper container */

/* left container */
.left-column {
  width: 60%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.text h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

/* right container */
.right-column {
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
}

@media only screen and (max-width: 439px) {
  .right-column {
    min-width: 168.8px;
  }
}

.divider-color {
  border-left: thin solid #BDBDBD;
}

.info {
  display: flex;
  width: 100%;
  transition: 500ms;
  transition-timing-function: ease;
}

.info:hover {
  background-color: #B3E5FC;
  transition: 500ms;
  transition-timing-function: ease;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
}

.description h3 {
  font-size: 1.17rem;
  font-weight: 600;
  margin: 0;
}

.description p {
  padding: 0.5rem 0;
}

.image {
  width: 35%;
  height: auto;
  padding: 1rem;
}

/* @media only screen and (max-width: 504px) {
  .image {
    height: 50.27px;
    width: 50.27px;
  }
} */

.image img {
  width: 100%;
  height: auto;
}

/* third wrapper */

#third h3 {
  text-align: center;
  padding: 2rem 0 1rem 0;
  display: block;
  color: #212121;
  margin: 0;
}

.courses {
  padding: 0 4.5rem 2rem 4.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  margin: 1rem;
  background-color: white;
  width: 26.2rem;
  transition-property: all;
  transition: 500ms;
  transition-timing-function: ease;
}

.course:hover {
  background-color: #B3E5FC;
  width: 27rem;
  transition-property: all;
  transition: 500ms;
  transition-timing-function: ease;
  cursor: pointer;
}

@media only screen and (max-width: 1531px) {
  .course {
    width: 20.2rem;
  }

  .course:hover {
    width: 21rem;
  }
}

@media only screen and (max-width: 1243px) {

  .course {
    width: 15.2rem;
  }

  .course:hover {
    width: 16rem;
  }
}

@media only screen and (max-width: 986px) {
  .course {
    width: 12.2rem;
  }

  .course:hover {
    width: 13rem;
  }
}

.course img {
  width: 100%;
  height: auto;
}

.course-description {
  padding: 1rem 1rem 1.5rem 1rem;
  text-align: justify;
}

@media only screen and (max-width: 1243px) {

  .course-description {
    padding: 0.7rem 0.7rem 1.2rem 0.7rem;
  }

}

.course-description h4 {
  font-size: 1.17rem;
  font-weight: 600;
  padding: 0;
}

@media only screen and (max-width: 1243px) {

  .course-description h4 {
    margin-bottom: 0.4rem;
  }

}

.course-header {
  padding: 0.5rem 0;
}

@media only screen and (max-width: 1243px) {

  .course-header {
    padding: 0.3rem 0;
  }

}

/* fourh wrapper container */
#fourth {
  padding-top: 2rem;
}

#fourth h3 {
  text-align: center;
  margin: 0;

}

.banner video {
  width: 100%;
}

footer {
  background-color: #BDBDBD;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.copyright span,
.terms span {
  padding: 0 0.5rem;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* quairies for mobile version*/
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media only screen and (max-width: 640px) {

  /* header */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hide-in-mobile {
    display: none;
  }

  .hide-in-fullscreen {
    display: block;
  }

  #logo {
    width: 100%;
    height: 2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #logo img {
    padding: 1rem;
    transition: 500ms;
    transition-timing-function: ease;
  }

  #logo img:hover {
    border-radius: 4px;
    background-color: #03A9F4;
    cursor: pointer;
    transition: 500ms;
    transition-timing-function: ease;
  }

  /* first wrapper */
  #first {
    flex-wrap: wrap;
    justify-content: center;
  }
  #main-banner {
    width: 100%;
    padding: 0 0 2rem 0;
  }

  #main-banner img {
    width: 100%;
  }
  .button {
    width: 100%;
    align-items: center;
  }

  /* second wrapper */

  .divider-color {
    border: none;
  }
  .right-column {
    width: 100%;
    padding-bottom: 2rem;
  }

  .info {
    /* flex-direction: column;
    align-items: center; */
    flex-wrap: wrap;
    justify-content: center;
  }

  .image {
    width: 100%;
    /* height: 17rem; */
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .image img {
    padding: 0 1rem 0 1rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding: 1rem;
  }

  /* third */
  #third {
    background-color: white;
    text-align: center;
  }

  #third h3 {
    text-align: center;
    padding: 2rem 0 2rem 0;
    display: block;
    color: #212121;
    margin: 0;
    border-top: thin solid #BDBDBD;
  }

  .course-button {
    color: black;
    background-color: #CFD8DC;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0 1rem 0.5rem 1rem;
    transition: 500ms;
    transition-timing-function: ease;
  }

  .course-button:hover {
    background-color: #B3E5FC;
    transition: 500ms;
    transition-timing-function: ease;
  }

  /* fourth */
  .left-column {
    width: 100%;
    padding: 2rem 0 1.5rem 0;
  }

  /* footer */
  footer {
    background-color: #BDBDBD;
    padding: 1rem;
  }
}
